.row {
    display: flex;
}

.column {
    float: left;
    height: 100vh;
    margin-top: 25px;
}

.left {
    width: 15vw;
    margin-left: 2vw;
}

.right {
    margin-left: 18vw;
    width: 85vw;
}