#flyoutContext {
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
}


.row {
    display: flex;
}

.column {
    float: left;
}

.left {
    width: 15vw;
}

.right {
    width: 85vw;
}